<div class="container">
  <h1>User Form</h1>
  <form [formGroup]="userFormulario" (submit)="saveUser()">
    <div class="form-group">
      <label for="name">Name <b class="errLbl">*</b></label>
      <input class="form-control" placeholder="Name required" formControlName="name" id="name" />
      <control-messages [control]="userFormulario.controls.name"></control-messages>
    </div>

    <div class="form-group">
      <label for="name">Username <b class="errLbl">*</b></label>
      <input class="form-control" formControlName="username" placeholder="Username required"  id="username" />
      <control-messages [control]="userFormulario.controls.username"></control-messages>
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input class="form-control" formControlName="email" id="email" placeholder="Email" />
      <control-messages [control]="userFormulario.controls.email"></control-messages>
    </div>

    <div class="form-group">
      <label for="name">Phone</label>
      <input class="form-control" formControlName="phone" placeholder="Phone" id="phone">
      <control-messages [control]="userFormulario.controls.phone"></control-messages>
    </div>

    <button type="submit" [disabled]="!userFormulario.valid">Submit</button>
  </form>
</div>
